- if obj.errors.any? 
  .errors
    .card-content
      %h4.panel-title= pluralize(obj.errors.count, 'error')
    .card-action
      %ul
        - obj.errors.full_messages.each do |msg|
          %li= msg