$pink: #DB5461;
$green: #255957;
$blue: #437C90;
$white: #EEEBD3;
$yellow: #F7C548;

nav {
  background-color: $green;
  height: 60px;
  color: $white;
  z-index: 2;
  position: relative;
  ul {
    display: inline-flex;
    a {
      padding-left: 25px;
      width: 150px;
    }
  }
}

.page {
  background-color: white;
}

.sidebar{
  background-color: $blue;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  color: $white;
  ul{
    margin-top: 60px;
    padding: 15px;
    a, li {
      text-decoration: none;
      color: $white;
      padding: 10px;
      position: relative;
      z-index: 5;
    }
  }
}

.calculator {
  border: 2px solid $yellow;
  height: 300px;
  border-radius: 15px;
}