%nav
  %a.brand-logo FARMER
  %a.sidenav-trigger{"data-target" => "mobile"}
    %i.material-icons menu
  %ul.right.hide-on-med-and-down
    - if user_signed_in?
      =link_to 'WYLOGUJ', destroy_user_session_path, method: :delete
    - else
      =link_to 'ZALOGUJ', new_user_session_path
      =link_to 'ZAREJESTRUJ', new_user_registration_path
  %ul.sidenav#mobile
    - if user_signed_in?
      =link_to 'POLA', fields_path
      =link_to 'MASZYNY', machines_path
      =link_to 'CHEMIKALIA', chemicals_path
      =link_to 'MAGAZYNY', warehouses_path
      %li WYDATKI
      =link_to 'AKCJE', events_path
      =link_to 'PRACOWNICY', employees_path
      =link_to 'KALKULATOR', calculator_path
      =link_to 'WYLOGUJ', destroy_user_session_path, method: :delete
    - else
      =link_to 'ZALOGUJ', new_user_session_path
      =link_to 'ZAREJESTRUJ', new_user_registration_path