%nav
  %a.brand-logo FARMER
  %a.sidenav-trigger{"data-target" => "mobile"}
    %i.material-icons menu
  %ul.right.hide-on-med-and-down
    - if user_signed_in?
      =link_to 'WYLOGUJ', destroy_user_session_path, method: :delete
    - else
      =link_to 'ZALOGUJ', new_user_session_path
      =link_to 'ZAREJESTRUJ', new_user_registration_path

  %ul.sidenav#mobile
    - if user_signed_in?
      =link_to 'POLA', fields_path
      %li MASZYNY
      %li CHEMIKALIA
      %li MAGAZYNY
      %li WYDATKI
      %li PRACOWNICY
      %li KALKULATOR
      %li WYLOGUJ
    - else
      %li ZALOGUJ
      %li ZAREJESTRUJ