.col.hide-on-small-only.m3.l2.sidebar
  %ul
    %li=link_to 'POLA', fields_path
    %li=link_to 'MASZYNY', machines_path
    %li=link_to 'CHEMIKALIA', chemicals_path
    %li=link_to 'MAGAZYNY', warehouses_path
    %li WYDATKI
    %li=link_to 'PRACOWNICY', employees_path
    %li=link_to 'KALKULATOR', calculator_path