.col.hide-on-small-only.m3.l2.sidebar
  %ul
    %li=link_to 'POLA', fields_path
    %li=link_to 'MASZYNY', machines_path
    %li CHEMIKALIA
    %li MAGAZYNY
    %li WYDATKI
    %li PRACOWNICY
    %li KALKULATOR